<launch>
    <param name="/use_sim_time" value="true"/>
    <master auto="start"/> 
    <!-- Run FIROS -->  
    <node name="firos" pkg="firos" type="core.py" />
    <!-- Run the Stage simulation -->
    <!-- Change this path according to your system - you have to put the ABSOLUTE path to the CHEMI.world file that is provided in the deliverable_v1/map folder -->
<!--map
    <node name="stageros" pkg="stage_ros" type="stageros" args="$(find opil_v2)/map/map.world" respawn="false"> 
        <param name="base_watchdog_timeout" value="0.2" />
    </node>
    -->
<!--CHEMI map
    <node name="stageros" pkg="stage_ros" type="stageros" args="$(find opil_v2)/map/CHEMIchangedres.world" respawn="false"> 
        <param name="base_watchdog_timeout" value="0.2" />
    </node>
    -->
    
<!--ICENT lab map
    <node name="stageros" pkg="stage_ros" type="stageros" args="$(find opil_v2)/map/ICENTlab.world" respawn="false"> 
        <param name="base_watchdog_timeout" value="0.2" />
    </node>
    -->

<!--IML lab map
    <node name="stageros" pkg="stage_ros" type="stageros" args="$(find opil_v2)/map/IMLlab.world" respawn="false"> 
        <param name="base_watchdog_timeout" value="0.2" />
    </node>
    -->
<!--MURAPLAST-->
    <node name="stageros" pkg="stage_ros" type="stageros" args="$(find opil_v2)/map/muraplast.world" respawn="false"> 
        <param name="base_watchdog_timeout" value="0.2" />
    </node>

        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <remap from="map" to="/map" />                      
            <param name="controller_frequency" value="10.0" />
            <rosparam file="$(find opil_v2)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find opil_v2)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find opil_v2)/config/global_costmap_params.yaml" command="load" />
            <rosparam file="$(find opil_v2)/config/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find opil_v2)/config/base_local_planner_params.yaml" command="load" />
        </node>  
         <!--- Run the Robot Agent node -->
         <node name="robot_agent" pkg="opil_v2" type="opil_v2_robot_agent_with_SandP" output="screen" args="0"/>
       
    
</launch>
