{
  "environment": "fof_lab",

  "fof_lab": {
  	"context_type": "CentralSP",
    "server": {
        "address"   : "LOCALHOST",
        "port"      : 10100
    },
    "contextbroker": {
        "address"   : "FIWAREHOST",
        "port"      : 1026,
        "subscription": {
          "throttling": 0,
          "subscription_length": 300,
          "subscription_refresh_delay": 0.5
        }
    },
    "log_level": "INFO",
    "interface": "NETINTERFACE"
  }
}

